html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica;
  background-image: url("https://wallpapersite.com/images/wallpapers/merry-christmas-2560x1600-santa-claus-snowman-hd-3806.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  background-atachment:;
}

.title{
	margin-top:25px;
	color:white;
	text-align: center;
}

.input{
	text-align:center;
	align:center;
}

#newGift{
	text-align:center;
}
h2{
	text-align:center;
	color:white;
}
div, ul{
	margin:20px;
	padding:0;
	list-style:none;
}

.stretch{
	width:100%;
	height:100%;
}

.center{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;	
		
}

.gifts{
	padding:20px;
}
.avatar{
	width: 100px;
	height: 100px;
	
}

